{% extends "base.html" %}

<!-- Título -->
{% block title %}Home - Bookly {% endblock %}

<!-- Conteúdo da página -->
{% block content %}
<div class="card-body">
  <div class="text-center mb-5">
    {% if user.is_authenticated %}
    <h1 class="display-4">Bem-vindo ao Bookly, {{ user.username }}!</h1>
    {% else %}
    <h1 class="display-4">Bem-vindo ao Bookly!</h1>

    {% endif %}
    <p class="lead">
      Aqui você pode pesquisar diversos livros e gerenciá-los de acordo com suas
      preferências. Adicione livros à sua lista pessoal e acompanhe seu
      progresso de leitura.
    </p>
  </div>

  <div class="row text-center">
    <div class="col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h4 class="card-title">Pesquise Livros</h4>
          <p class="card-text">
            Encontre livros através da nossa integração com a API do Google
            Books.
          </p>
          <a href="{% url 'search' %}" class="btn btn-primary btn-block"
            >Buscar Livro</a
          >
        </div>
      </div>
    </div>

    {% if not user.is_authenticated %}
    <div class="col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h4 class="card-title">Entre no Bookly</h4>
          <p class="card-text">
            Faça login para criar sua lista pessoal de livros e acompanhar seu
            progresso.
          </p>
          <a href="{% url 'login' %}" class="btn btn-success btn-block"
            >Login / Cadastro</a
          >
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-md-6 mb-3">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h4 class="card-title">Ver perfil</h4>
          <p class="card-text">
            Veja e edite a sua lista de livros e suas informações pessoais
          </p>
          <a href="{% url 'login' %}" class="btn btn-success btn-block"
            >Vamos lá</a
          >
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="mt-5 text-center">
    <p class="text-muted">
      Bookly é um projeto feito para amantes de leitura. Organize seus livros
      favoritos, acompanhe sua evolução e descubra novas obras interessantes!
    </p>
  </div>
</div>
{% endblock %}
