<!-- Herda o layout e estrutura do base.html-->
{% extends "base.html" %}

<!-- Título-->
{% block title %}Cadastro - Bookly{% endblock %}

<!-- Conteúdo -->
{% block content %}
<div class="card-body">
  <h3 class="text-center mb-4">Criar Conta</h3>

  <form method="post" class="mx-auto" style="max-width: 400px">
    <!-- Mesma lógica do login.html -->
    {% csrf_token %} {% if form.errors %}
    <div class="alert alert-danger">Corrija os erros abaixo.</div>
    {% endif %}

    <div class="form-group mb-3">
      <label for="id_username">Usuário</label>
      <input
        type="text"
        name="username"
        class="form-control"
        id="id_username"
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="id_email">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="id_email"
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="id_password">Senha</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="id_password"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
  </form>

  <p class="text-center mt-3">
    Já tem conta? <a href="{% url 'login' %}">Faça login aqui</a>
  </p>
</div>
{% endblock %}
